# Flask==2.0.1
Flask==1.1.2  # Ensure this is the Flask version you need
Werkzeug==0.16.1  # Compatible Werkzeug version
Jinja2==2.11.3  # Compatible Jinja2 version
MarkupSafe==1.1.1  # Compatible version that includes soft_unicode
itsdangerous==1.1.0  # Compatible version that includes json
Pillow==8.2.0
flask-cors==3.0.10
